@model IEnumerable<League.Model.Week>

@{
    ViewBag.Title = "Index";
}

<h2>Weeks</h2>

<p>
    @Html.ActionLink("Create Season", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Date
        </th>
        <th>
            Season
        </th>
        <th>
            Week Number
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNumber)
            </td>
        </tr>
    }

</table>

