@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Kia Ora 10 Pin Bowling League</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Maintenance</h2>
        @Html.ActionLink("Season", "Active", "Vweek")<br />
        @Html.ActionLink("Teams", "Index", "Team")<br />
        @Html.ActionLink("Bowlers", "Index", "Bowler")
    </div>
    <div class="col-md-4">
        <h2>Data Entry</h2>
        <p>Under development</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Under development</p>
    </div>
</div>